---
import i18next, { changeLanguage, t } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import AboutSection from "../../components/AboutSection";
import WorkExperienceSection from "../../components/WorkExperienceSection";
import SideProjectsSection from "../../components/SideProjectsSection";
import ContactForm from "../../components/ContactForm";
import TitleCard from "../../components/TitleCard";
import Sidebar from "../../components/Sidebar";
import Navbar from "../../components/Navbar";
import Video from "../../components/Video";
import Modal from "../../components/Modal";
import EducationSection from "../../components/EducationSection";

changeLanguage("ja");
---

<html lang={i18next.language}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={t('description')} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Michael Lee</title>
    <HeadHrefLangs />
  </head>
  <body
    class="scrollbar-thin scrollbar-thumb-blue-400 hover:scrollbar-thumb-blue-700 scrollbar-track-white scrollbar-thumb-rounded-full scrollbar-track-rounded-full"
  >
    <main>
      <Modal client:only />
      <Navbar client:load />
      <Sidebar client:load />
      <div class="h-screen">
        <Video client:load />
        <TitleCard client:load />
      </div>
      <div class="px-4 md:px-72 bg-slate-500 pt-5 pb-[60vh]">
        <AboutSection client:visible />
        <WorkExperienceSection client:visible />
        <EducationSection client:visible />
        <SideProjectsSection client:visible />
        <ContactForm client:visible />
      </div>
    </main>
  </body>
</html>
